@(dateFrom: String, dateTo: String, diagram: DiagramModel)
@input = @{diagram.currencyLines}
<html>
<head>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

    <title>This is diagram!</title>
</head>
<body>
<h1>@dateFrom</h1>
<h1>@dateTo</h1>

<h3>PUNKTY:</h3>
@for(line <- input){
<a>@line</a>
<hr>
}
<div class="container">
    <canvas id="myChart" width="50%" height="20%"></canvas>
    <script>
    Chart.scaleService.updateScaleDefaults('logarithmic', {
    ticks: {
        ticks: {
    callback: function(tick, index, ticks) {
      return tick.toLocaleString()
    }
  }
    }
});

  var ctx = document.getElementById("myChart");
  var myChart = new Chart.Line(ctx, {
      type: 'line',
      data: {
          labels: [
                     @for(point <- input(0).diagramPoints){
                       '@point.x' ,
                      }

          ],
          datasets: [
          @for(line <- input){
          {
				        label: '@line.name',
				        borderColor: '@line.color',
				        backgroundColor: '@line.color',
                fill: false,
                data: [
                     @for(point <- line.diagramPoints){
                       {x:'@point.x', y:@point.y},
                     }

                ]
          },
          }
          ]
      },
      options: {
        elements: {
            point: { radius: 0 }
        },
        scales: {
						yAxes: [{
							type: 'logarithmic',
                    ticks: {
                        min: 0,
                        max: 20000,
                        callback: function(value, index, values) {//needed to change the scientific notation results from using logarithmic scale
                            return Number(value.toString());//pass tick values as a string into Number function
                        }
                    },
                    afterBuildTicks: function(pckBarChart) {
                        pckBarChart.ticks = [];
                        var steps = 10
                        var axis = 20000;
                        var max = 20000;
                        var i;
                        for (i = 1; i <steps; i++) {
                             pckBarChart.ticks.push(Math.floor(max/i));
                             max = max/2;
                        }
                      }
						}],
						 scaleOverride: true,
        }

      }


  });
  </script>
</div>
</body>
</html>
